@using FlexyBox.core.Queries.GetPost

@if (_isLoding)
{
    <Waiting text="Deleting post ..."></Waiting>
}
else if(_postExists)
{
    <div class="container mt-4">
        <div class="row ">
            <div class="col">
                @if (Post.UserName == _currentUserId)
                {
                    <div class="mb-2 d-flex flex-row justify-content-end align-items-center gap-1">
                        <button class="btn btn-warning me-2" @onclick="EditPost">Edit</button>
                        <button class="btn btn-danger" @onclick="DeletePost">Delete</button>

                    </div>
                }
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <img src="@($"data:image/png;base64,{Convert.ToBase64String(Post.Image)}")" class="card-img-top" alt="@Post.Title">
                    <div class="card-body">
                        <h2 class="card-title">@Post.Title</h2>
                        <small class="text-muted">Posted by: @Post.UserName</small><br />
                        <small class="text-muted">Category: @Post.Category</small>

                        <div class="mt-3">
                            @foreach (var tag in Post.Tags)
                            {
                                <span class="badge bg-primary me-2">@tag</span>
                            }
                        </div>

                        <div class="mt-4">
                            <h5>Content</h5>
                            <div class="card-text">
                                @((MarkupString)Post.Content)
                            </div>
                        </div>

                        <div class="mt-4">
                            <h5>Comments</h5>
                            <p>@Post.CommentsCount comments</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}


